@model TalentoPlus.Api.Models.EmployeeLoginRequest

<form method="post">
    <input type="text" asp-for="Documento" placeholder="Documento" />
    <input type="password" asp-for="Password" placeholder="Contraseña" />
    <button type="submit">Login</button>
</form>